# dependatbot.yml
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "10:10"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "dependabot"
    reviewers:
      - "vthanhduong"