@import "tailwindcss";

body {
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8)), url('./assets/bg.jpg');
    background-position: center top;
    background-size: 100% auto;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

.dot-typing {
  display: flex;
  gap: 4px;
  align-items: center;
}

.dot-typing span {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  animation: dot-flash 1.5s infinite;
}

.dot-typing span:nth-child(1) {
  animation-delay: 0s;
}
.dot-typing span:nth-child(2) {
  animation-delay: 0.2s;
}
.dot-typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-flash {
  0% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}